<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Karen</title>
  <link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css"
>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
  <link rel="stylesheet" href="../static/css/index.css">
</head>
<body>

  <nav class="navbar is-light" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a class="navbar-item" href="#">
        <img src="https://github.com/stevan06v/karen/blob/main/imgs/karen.png?raw=true"alt="Logo">
      </a>
      <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarMenu">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>

    <div id="navbarMenu" class="navbar-menu">
      <div class="navbar-end">
        <div class="navbar-item">
          <div class="buttons">
            <a class="button is-primary" href="#">
              <strong>Settings</strong>
            </a>
          </div>
        </div>
      </div>
    </div>
  </nav>

  <!-- Content Section -->
  <section class="section">
    <div class="container content-container">
<div class="box chat-box">
        <h2 class="title is-5">Ask Karen for help!</h2>
        <div class="field">
          <label class="label">Karen: </label>
          <div class="control">
            <textarea class="textarea" placeholder="Waiting for response..."></textarea>
          </div>
        </div>
        <div class="field">
          <label class="label">Your Message</label>
          <div class="control">
            <textarea class="textarea" placeholder="Type your message..."></textarea>
          </div>
        </div>
        <div class="field">
          <div class="control">
            <button class="button is-link">Send</button>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="card-image">
          <figure class="image is-4by3">
            <img src="https://static.wikia.nocookie.net/deathbattlefanon/images/5/54/Karen_Angry.png/revision/latest?cb=20210912083600" alt="Placeholder image" />
          </figure>
        </div>
        <div class="card-content">
          <div class="media">
            <div class="media-left">
              <figure class="image is-48x48">
                <img src="https://github.com/stevan06v/karen/blob/main/imgs/karen.png?raw=true" alt="Placeholder image" />
              </figure>
            </div>
            <div class="media-content">
              <p class="title is-4">Karen Plankton</p>
              <p class="subtitle is-6">@karenplankton</p>
            </div>
          </div>

          <div class="content">
            Hey I am Karen Plakton!<br> I am based on <strong>MISTRAL AI</strong> and would love to answer your
            <a href="#">#AI</a>
            <br />
            <time datetime="2016-1-1">11:09 PM - 1 Jan 2016</time>
          </div>
        </div>
      </div>

      
    </div>
  </section>
  
</body>
</html>